#!/bin/bash
# Copyright 2024 The Wazo Authors  (see the AUTHORS file)
# SPDX-License-Identifier: GPL-3.0+

set -euo pipefail

case "$1" in
    build)
        ;;

    package)
        mkdir -p ${pkgdir}/usr/bin
        cp wazo-remove-android-push-auth.py ${pkgdir}/usr/bin
        ;;

    install)
        chmod 0700 /usr/bin/wazo-remove-android-push-auth.py
        touch /var/log/wazo-android-push-proxy-migration.log
        chmod 0600 /var/log/wazo-android-push-proxy-migration.log
        /usr/bin/wazo-remove-android-push-auth.py $(wazo-auth-cli token create) | ts '%Y-%m-%d %H:%M:%S' |& tee -a /var/log/wazo-android-push-proxy-migration.log
        ;;

    uninstall)
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
